/* the-girl-next-door-regular - latin */
@font-face {
  font-family: 'The Girl Next Door';
  font-style: normal;
  font-weight: 400;
  src: local('The Girl Next Door'), local('TheGirlNextDoor'),
       url('../fonts/the-girl-next-door-v10-latin/the-girl-next-door-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/the-girl-next-door-v10-latin/the-girl-next-door-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kalam-regular - latin */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'),
       url('../fonts/kalam-v10-latin/kalam-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/kalam-v10-latin/kalam-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* amita-regular - latin */
@font-face {
  font-family: 'Amita';
  font-style: normal;
  font-weight: 400;
  src: local('Amita Regular'), local('Amita-Regular'),
       url('../fonts/amita-v5-latin/amita-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts//amita-v5-latin/amita-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
