/* kalam-regular - latin */
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: local('Kalam'), local('Kalam-Regular'),
       url('../fonts/kalam-v10-latin/kalam-v10-latin-regular.woff2') format('woff2'),
       url('../fonts/kalam-v10-latin/kalam-v10-latin-regular.woff') format('woff');
}

/* amita-regular - latin */
@font-face {
  font-family: 'Amita';
  font-style: normal;
  font-weight: 400;
  src: local('Amita Regular'), local('Amita-Regular'),
       url('../fonts/amita-v5-latin/amita-v5-latin-regular.woff2') format('woff2'),
       url('../fonts//amita-v5-latin/amita-v5-latin-regular.woff') format('woff');
}
