// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$light-grey: #f0f0f0;
$lt-red: #ef9a9a;
$lt-purple: #ce93d8;
$lt-blue: #81d4fa;
$lt-green: #a5d6a7;
$lt-yellow: #fff59d;
$lt-brown: #d7ccc8;

$font-size-root: 16px;
$body-font-family: Amita, 'The Girl Next Door', Kalam, sans-serif;
