// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$light-grey: #f0f0f0;

$font-size-root: 16px;
$body-font-family: Amita, 'The Girl Next Door', Kalam, sans-serif;
